<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="druidDataSource" />
    </bean>

    <bean id="userInfoTxDao" class="com.sct.jdbctest.dao.impl.UserInfoTxDao">
        <property name="dataSource" ref="druidDataSource"></property>
    </bean>

    <!--单个DAO设置-->
    <bean id="transactionProxyFactoryBean"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
        <property name="target" ref="userInfoTxDao" />
        <property name="proxyInterfaces" value="com.sct.jdbctest.dao.IUserInfoDao" />

        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <!--多个DAO设置-->
    <!--<bean id="transactionProxyFactoryBean"-->
    <!--class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"-->
    <!--lazy-init="true" abstract="true">-->

    <!--<property name="transactionManager" ref="transactionManager" />-->

    <!--<property name="transactionAttributes">-->
    <!--<props>-->
    <!--<prop key="*">PROPAGATION_REQUIRED</prop>-->
    <!--</props>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="userDaoTransactionProxyFactoryBean" parent="transactionProxyFactoryBean" >-->
    <!--<property name="target" ref="userInfoTxDao" />-->
    <!--</bean>-->

    <!--拦截器-->
    <!--<bean id="transactionInterceptor"-->
    <!--class="org.springframework.transaction.interceptor.TransactionInterceptor">-->
    <!--<property name="transactionManager" ref="transactionManager" />-->

    <!--<property name="transactionAttributes">-->
    <!--<props>-->
    <!--<prop key="*">PROPAGATION_REQUIRED</prop>-->
    <!--</props>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">-->
    <!--<property name="beanNames">-->
    <!--<list>-->
    <!--<value>userInfoTxDao</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--<property name="interceptorNames">-->
    <!--<list>-->
    <!--<value>transactionInterceptor</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

    <!--声名-->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
    <!--<tx:attributes>-->
    <!--<tx:method name="*" propagation="REQUIRED" />-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!--<aop:config>-->
    <!--<aop:pointcut id="interceptorPointCuts"-->
    <!--expression="execution(* com.sct.jdbctest.dao.*.*(..))" />-->
    <!--<aop:advisor advice-ref="txAdvice"-->
    <!--pointcut-ref="interceptorPointCuts" />-->
    <!--</aop:config>-->

    <!--全注解-->
    <!--<context:annotation-config />-->
    <!--<context:component-scan base-package="com.*" />-->

    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
    <!--<tx:attributes>-->
    <!--<tx:method name="save*" propagation="REQUIRED"/>-->
    <!--<tx:method name="delete*" propagation="REQUIRED"/>-->
    <!--<tx:method name="update*" propagation="REQUIRED"/>-->
    <!--<tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED"/>-->
    <!--<tx:method name="*" read-only="true"/>-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!--<aop:config>-->
    <!--<aop:pointcut id="interceptorPointCuts"-->
    <!--expression="execution(* com.sct.jdbctest.dao.*.*(..))"/>-->
    <!--<aop:advisor pointcut-ref="interceptorPointCuts" advice-ref="txAdvice"/>-->
    <!--</aop:config>-->

</beans>