<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityTest.war">
      <element id="artifact" artifact-name="SpringSecurityTest:war exploded" />
    </root>
  </artifact>
</component>