<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd 
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property ref="druidDataSource" name="dataSource"/>
    </bean>

    <bean id="dataTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property ref="druidDataSource" name="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="dataTransactionManager"/>
</beans>