<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
       xmlns="http://www.springframework.org/schema/beans" 
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${jedis.pool.maxTotal}"/>
        <property name="maxIdle" value="${jedis.pool.maxIdle}"/>
        <property name="minIdle" value="${jedis.pool.minIdle}"/>
        <property name="maxWaitMillis" value="${jedis.pool.maxWaitMillis}"/>
    </bean>
    
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" destroy-method="destroy">
        <constructor-arg ref="jedisPoolConfig"/>
        <constructor-arg>
            <list>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg value="${jedis.shard.host}"/>
                    <constructor-arg value="${jedis.shard.port}" type="int"/>
                    <constructor-arg value="${jedis.shard.name}"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>
</beans>